PORT=4000
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
ENCRYPTION_SECRET=replace_with_32_plus_characters
OPENAI_API_KEY=
TELEGRAM_BOT_TOKEN=
